In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("latih_complete.csv", delimiter=',')
df.head()

/home/biofarmaka/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
0,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
1,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC,0
2,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2,0
3,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A,0
4,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A,0

In [23]:
cf=df
cf=cf.drop_duplicates(subset=["0", "1282"])

In [24]:
#rf = pd.read_csv("datatestnorm.csv", delimiter=';', header=None)
#df.head()

In [25]:
dataset2 = df
#del dataset[0]
#del dataset[1282]

In [26]:
print('aa')

aa

In [27]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
39407,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.243070,0.042644,0.076759,0.313433,0.972281,0.237740,0.136461,NEUR4_HUMAN,0
39408,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.253763,0.367742,0.000000,0.038710,0.421505,0.000000,0.479570,0.000000,NRAM_I83A1,0
39409,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.146766,0.212687,0.049751,0.067164,0.121891,0.000000,0.277363,0.199005,NRAM_INBLE,0
39410,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586,ACE2_HUMAN,0
39411,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586,IL6RB_HUMAN,1

In [28]:
df['label'].value_counts()

0    38727
1      685
Name: label, dtype: int64

ABIS NORMALISASI SINI

In [29]:
X = df.drop(['0', '1282','label'], axis=1)
Y = df['label']
seed = 7

In [46]:
X_pos = dataset2[dataset2['label']==1]
Y_pos = X_pos['label']
X_pos = X_pos.drop(['0','1282','label'], axis=1)
X_neg = dataset2[dataset2['label']==0]
Y_neg = X_neg['label']
X_neg = X_neg.drop(['0','1282','label'], axis=1)

In [40]:
X_neg.tail()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
39406,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.118012,0.124224,0.074534,0.202899,0.236025,0.000000,0.000000,NEUR3_HUMAN,0
39407,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.243070,0.042644,0.076759,0.313433,0.972281,0.237740,0.136461,NEUR4_HUMAN,0
39408,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.253763,0.367742,0.000000,0.038710,0.421505,0.000000,0.479570,0.000000,NRAM_I83A1,0
39409,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.146766,0.212687,0.049751,0.067164,0.121891,0.000000,0.277363,0.199005,NRAM_INBLE,0
39410,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586,ACE2_HUMAN,0

In [32]:
from sklearn import model_selection

In [33]:
from imblearn.over_sampling import RandomOverSampler
oversample = RandomOverSampler(sampling_strategy=0.9)

In [34]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(sampling_strategy=0.9)

In [ ]:
#X_postrain, X_postest, Y_postrain, Y_postest = model_selection.train_test_split(X_pos, Y_pos, test_size=0.7, random_state=seed)
#X_negtrain, X_negtest, Y_negtrain, Y_negtest = model_selection.train_test_split(X_neg, Y_neg, test_size=0.3, random_state=seed)

In [14]:
def part_latih(seed):
    X_postrain, X_postest, Y_postrain, Y_postest = model_selection.train_test_split(X_neg, Y_neg, test_size=0.7, random_state=seed)

    X3 = X_postrain.append(X_pos)
    Y3 = Y_postrain.append(Y_pos)
    
    X_over, y_over = oversample.fit_resample(X3,Y3)
    X_over=pd.DataFrame(X_over)
    y_over=pd.DataFrame(y_over)
    
    X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X_over, y_over, test_size=0.3, random_state=seed)
    X_train=pd.DataFrame(X_train)
    Y_train=pd.DataFrame(Y_train)
    X_test=pd.DataFrame(X_test)
    Y_test=pd.DataFrame(Y_test)
    
    XXX_train=pd.concat([X_train,Y_train], axis=1)
    XXX_train.to_csv("latih_sampled30_"+str(seed)+".csv",index=False)
    
    XXX_test=pd.concat([X_test,Y_test], axis=1)
    XXX_test.to_csv("uji_sampled30_"+str(seed)+".csv",index=False)
    
    #return XXX

In [15]:
for i in range(1,6):
    part_latih(i)

/home/biofarmaka/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:86: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/home/biofarmaka/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:86: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/home/biofarmaka/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:86: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/home/biofarmaka/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:86: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/home/biofarmaka/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:86: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [37]:
X_neg.tail()

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
39406,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.118012,0.124224,0.074534,0.202899,0.236025,0.000000,0.000000,NEUR3_HUMAN
39407,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.243070,0.042644,0.076759,0.313433,0.972281,0.237740,0.136461,NEUR4_HUMAN
39408,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.253763,0.367742,0.000000,0.038710,0.421505,0.000000,0.479570,0.000000,NRAM_I83A1
39409,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.213930,0.146766,0.212687,0.049751,0.067164,0.121891,0.000000,0.277363,0.199005,NRAM_INBLE
39410,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.140676,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586,ACE2_HUMAN

In [42]:
def part_latih2(seed):
    X_postrain, X_postest, Y_postrain, Y_postest = model_selection.train_test_split(X_neg, Y_neg, test_size=0.7, random_state=seed)

    X3 = X_postrain.append(X_pos)
    Y3 = Y_postrain.append(Y_pos)
    
    X_over, y_over = smote.fit_resample(X3,Y3)
    X_over=pd.DataFrame(X_over)
    y_over=pd.DataFrame(y_over)
    
    X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X_over, y_over, test_size=0.3, random_state=seed)
    X_train=pd.DataFrame(X_train)
    Y_train=pd.DataFrame(Y_train)
    X_test=pd.DataFrame(X_test)
    Y_test=pd.DataFrame(Y_test)
    
    XXX_train=pd.concat([X_train,Y_train], axis=1)
    XXX_train.to_csv("latih_smoted30_"+str(seed)+".csv",index=False)
    
    XXX_test=pd.concat([X_test,Y_test], axis=1)
    XXX_test.to_csv("uji_smoted30_"+str(seed)+".csv",index=False)
    
    #return XXX

In [47]:
a=part_latih2(1)

/home/biofarmaka/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:86: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [33]:
range(0,1282)

range(0, 1282)

In [34]:
a.columns=range(0,1284)

In [35]:
a.tail()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283
22069,5789,1,1,0,0,0,0,0,0,0,...,0.187898,0.181529,0.0636943,0,0.312102,0.363057,0,0.203822,PLpro_SARS-CoV-2,1
22070,124886,1,1,1,0,0,0,0,0,0,...,0.0671982,0.0519362,0.0318907,0.053303,0.223235,0.493394,0.0253986,0.0656036,K4LC41_9BETC,1
22071,5291,1,1,1,0,0,0,0,0,0,...,0,0.233846,0.102564,0.184615,0.201026,0,0.686154,0.262564,KIT_HUMAN,1
22072,3062316,1,1,1,0,0,0,0,0,0,...,0,0,0.0501253,0,0,0,0.279449,0,MAPK2_HUMAN,1
22073,3062316,1,1,1,0,0,0,0,0,0,...,0,0,0.057971,0,0.142029,0,0.323188,0.0927536,CDK7_HUMAN,1

In [36]:
a[1283].value_counts()

0    11618
1    10456
Name: 1283, dtype: int64

In [16]:
#dataset2[100]

In [18]:
#np.savetxt("datatestnorm.csv",pd.concat([X_pos,Y_pos],axis=1),fmt=["%s"]*(1284), delimiter=";")
#datates=pd.concat([X_pos,Y_pos],axis=1)
#X_neg.to_csv("allneg_latih.csv",index=False)