In [1]:
import pandas as pd
import numpy as np

CARA 1

In [2]:
cf= pd.read_csv('latih_combined.csv', delimiter=",",header=None)

cf.head()

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
0,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.184748,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1
1,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.088155,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC
2,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2
3,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.281967,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A
4,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.142857,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A

In [3]:
cf.tail()

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
39741,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.243070,0.042644,0.076759,0.313433,0.972281,0.237740,0.136461,NEUR4_HUMAN
39742,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.253763,0.367742,0.000000,0.038710,0.421505,0.000000,0.479570,0.000000,NRAM_I83A1
39743,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.213930,0.146766,0.212687,0.049751,0.067164,0.121891,0.000000,0.277363,0.199005,NRAM_INBLE
39744,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.140676,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586,ACE2_HUMAN
39745,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.140676,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586,IL6RB_HUMAN

In [4]:
#df= pd.read_csv('D:\\Bela\\Biofarmaka\\new\\crawling\\coba\\new-dti.csv', delimiter=";",header=None)
df= pd.read_excel('cov_dti.xlsx', sep=";",header=None)
df['label']=1

df.tail()

        0           1            2  label
851  4413  Nafamostat       6M0J:E      1
852  4413  Nafamostat       6LZG:A      1
853  4413  Nafamostat       6VSB:A      1
854  4413  Nafamostat       6VXX:A      1
855   LMT         LMT  IL6RB_HUMAN      1

In [5]:
df.head()

         0              1           2  label
0   518740  Arsentrioxide  AKT1_HUMAN      1
1  1548887     Arthrocine  AKT1_HUMAN      1
2     2662      Celecoxib  AKT1_HUMAN      1
3  3062316      Dasatinib  AKT1_HUMAN      1
4   176870      Erlotinib  AKT1_HUMAN      1

In [6]:
df[0] = df[0].astype(str)
df[2] = df[2].astype(str)
cf[0] = cf[0].astype(str)
cf[1282] = cf[1282].astype(str)

In [7]:
cf.shape

(39746, 1283)

In [8]:
df.shape

(856, 4)

In [9]:
cf=cf.drop_duplicates(subset=[1282,0])
df=df.drop_duplicates(subset=[0,2])

In [10]:
cf.shape

(39412, 1283)

In [11]:
df.shape

(728, 4)

In [12]:
cf['label']= np.where((cf[1282]+cf[0]).isin(df[2]+df[0]),1,0)#

In [13]:
cf['label'].value_counts()

0    38727
1      685
Name: label, dtype: int64

In [14]:
yp=cf[1282]=='YP_009725307.1'
la1=cf['label']==1
cf[yp & la1]

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
0,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
3340,74989,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
3674,119212,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
4342,31101,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
6012,5282242,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
6346,5479529,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
7014,10133,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
7682,9552079,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
8016,2719,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
9686,222786,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
10020,2882,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
10688,135565674,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
12358,13505,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
14696,492405,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
15030,3343,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
16032,657237,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
17034,10445549,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
19038,42890,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
20708,3793,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
27054,54675769,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
28056,27350,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
30728,121304016,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
31730,37542,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
34402,31553,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
37408,444008,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
39078,135413535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1

In [15]:
cf.to_csv("latih_complete.csv",index=False)

In [16]:
cf.isnull().sum().max()

0